<!--Inicio slider-->
    <div class="slider">
        <ul class="slides">
        <!--Inicio diapositiva-->
        <li>
            <img src="https://www.defensordelpueblo.es/wp-content/uploads/2016/11/Discapacidad.jpg"> <!-- random image -->
            <div class="caption left-align">
            <h3>C칩mo garantizar la accesibilidad</h3>  
            <h5 class="light grey-text text-lighten-3">Titulo peque침o.</h5>        
            </div>
        </li>
        <!--Fin diapositiva-->
        <!--Inicio diapositiva-->
        <li>
            <img src="https://www.acierto.com/css/images/ac/media/seguro-coche-discapacitados-cover.jpg"> <!-- random image -->
            <div class="caption left-align">
            <h3>Nuevos espacios</h3> 
            <h5 class="light grey-text text-lighten-3">Titulo peque침o.</h5>         
            </div>
        </li>
        <!--Fin diapositiva-->
        <!--Inicio diapositiva-->
        <li>
            <img src="https://www.acierto.com/css/images/ac/media/seguros-discapacidad-cover.jpg"> <!-- random image -->
            <div class="caption left-align">
            <h3>Nuevos espacios</h3>
            <h5 class="light grey-text text-lighten-3">Titulo peque침o.</h5>
            </div>
        </li>   
        <!--Fin diapositiva-->
        <!--Inicio diapositiva-->   
        </ul>
    </div>
<!--Fin slider-->